.mainearn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 50px 0px;
  flex-direction: column;
}

.earn11 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: capitalize;
  color: white;
  text-align: center;
}

.earn12 {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1;
  text-transform: capitalize;
  color: white !important;
  text-align: center;
}

.earn22 {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
  text-transform: capitalize;
  color: #ffffff;
}

.earn33 {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.earn34 {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #ffe600;
}

.earn1111 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 3.5rem;
}

.earn222 {
  /* display: flex !important;
    justify-content: center!important;
    align-items: center!important; */
  margin-top: 3rem;
}

.earn44 {
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.btnearvdiv {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.earnbtn {
  width: 206.79px;
  height: 28.49px;
  left: 1113.9px;
  background: rgba(255, 230, 0, 0.2);
  border: 3px solid #ffe600;
  border-radius: 5px;
  color: white;
  text-align: center;
}

@media (max-width: 500px) {
  .earn11 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: capitalize;
    color: white;
    text-align: center;
  }

  .earn12 {
    font-style: normal;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 1.2;
    text-transform: capitalize;
    color: white !important;
    text-align: center;
    margin-left: 0.6rem;
  }

  .earn44 {
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin-left: 0.6rem;
  }
}
