.mainlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
}
 
.sublist {
  background-image: url("../../../public/SALE.png");
  background-repeat: no-repeat;
  width: 14rem;
  height: 10rem;
}

.listtext {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  margin-top: 0.7rem;
}

.collist {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.collist1 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.saletext {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffe600;
  text-align: center;
}

.febtext {
  font-style: normal;
  font-size: 0.6rem;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

.bonustext {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffe600;
  text-align: center;
}

.noseven {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
}

.privatediv {
  width: 20rem;
  background: #191803;
  border-radius: 1rem;
  padding: 1rem;
}

.taglogo {
  position: absolute;
  margin-top: -2.2rem;
  margin-left: -2.5rem;
}

.comp {
  position: absolute;
}

.copmword {
  position: absolute;

  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  margin-top: -2.3rem;
  margin-right: 0.5rem;
  transform: translate(-10px, 40px) rotate(-38deg);
}

.copmword1 {
  position: absolute;

  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  margin-top: -2.3rem;

  transform: translate(-16px, 40px) rotate(-38deg);
}

@media (max-width: 500px) {
  .privatediv {
    width: 16rem;
    background: #191803;
    border-radius: 1rem;
    padding: 1rem;
    /* margin-left: 3.4rem; */
  }
  .rowmobile {
    margin-left: 0px !important;
    margin-right: 0px !important;
    row-gap: 0px !important;
  }

  .collist1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
  }

  .taglogo {
    position: absolute;
    margin-top: -3.2rem;
    margin-left: -2.9rem;
  }

  .copmword {
    position: absolute;

    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    color: black;
    margin-top: -3rem;
    /* margin-right: 0.9rem; */
    margin-left: -1rem;
    transform: translate(-10px, 40px) rotate(-38deg);
  }

  .copmword1 {
    position: absolute;

    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    color: black;
    margin-top: -3rem;
    margin-left: -1rem;

    transform: translate(-16px, 40px) rotate(-38deg);
  }
}
